.productContainer
   height: 2rem
   width: 100%
   color: black
   display: flex
   justify-content: space-around
   font-size: 2.5rem
   .buttonStyle
     background-color: white
     border-color: #434242
     width: 2rem
     height: 2rem
     color: black
     font-size: 1rem
     border-radius: 50%
   .buttonStyle:hover
    background-color: #EAEAEA

   .inputStyle
     width: 2rem
     height: 2rem
   .productName
     width: 25%
   .productPrice
      width: 20%